{{ partial "head.html" . }}
<div class="content container">
  <div class="post">
    <img src="https://ksr-ugc.imgix.net/assets/026/454/967/6b4c5d0e98b59cbd68c2a26b69134405_original.jpg?ixlib=rb-2.1.0&crop=faces&w=1552&h=873&fit=crop&v=1568315215&auto=format&frame=1&q=92&s=5fc3c1b6d1f604d823feed6b279875f5" alt="Kickstarter cover">
    <blockquote class="book-hint warning"><strong>注意！</strong><br>本站是由<a href="https://www.plurk.com/mori0217" target=_blank>Mori</a>和空空所整理的快速起始規則內容，內容僅供參照，請勿用於任何營利用途。一切權利屬於<a href=https://www.magpiegames.com/root-rpg/ target=_blank>Magepie Games</a>所有。</blockquote>
    <h1><a href="{{ "/root-rpg-zh" | absURL }}">茂林源記</a></h1>
    <h2>Root: The Tabletop Roleplaying Game</h2>
    <p>《茂林源記：RPG》是一款基於得獎桌遊《茂林源記：森林的權力之戰》的桌上型角色扮演遊戲，一個關於衝突與權力，貓、鳥、老鼠、兔子與狐狸之間鬥爭的RPG。</p>
    <p>在《茂林源記：RPG》中，你們都會扮演神秘遊俠，一群從「文明」社會中被排除的茂林居民，不管是基於自身意志或是被驅逐。你們在茂林中冒險、完成各種工作並傾斜各個陣營間的平衡。</p>
    <p>這個遊戲專注於有趣的冒險動作和逃亡，並以茂林與其戰爭為背景。你們會大打出手、上演狡猾的搶劫。通過這些行動，你們將有可能贏得不同陣營的名聲，甚至可能幫助他們掌握新的領地。</p>
    </div>
</div>
{{ partial "foot.html" . }}
